.footer {
  background-color: #003049;
  color: #c9c9c9;
  padding: 40px;
  margin-top: 100px;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 30px;
}
.footer-content-left img {
  color: white;
  object-fit: cover;
  fill: white;
  filter: brightness(0) invert(1);
}

.footer-content-center h1 {
  color: white;
}
.footer-content-right h1 {
  color: white;
}
li {
  list-style: none;
  cursor: pointer;
}
